html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 87px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-image: url(/assets/images/skibidi.webp);
}
